<div class="container">
  <div class="row">
    <div class="column">
      <h2>Credits</h2>
      <p>
        Using questions from open trivia database https://github.com/el-cms/Open-trivia-database
      </p>
      <p>
        Using devise for authentication https://github.com/plataformatec/devise
      </p>
    </div>
  </div>
</div>
