<div class="text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <section>
      <article>
        <h1 class="cover-heading">Host Trivia Nights.</h1>
        <p class="lead">
          Create games in advance from a database 13,000 questions.
        </p>
        <p>
          Manage and track a list of players with statistics like teams with most wins, players with most wins,
          and many more.
        </p>
        <p>
          Send promotional emails to players who win games
        </p>
      </article>
    </section>
  </main>
</div>
