<p>
  Congratulations <%= @player_name %> on winning trivia night at <%= @venue_name %>
  with team <%= @team.name %>.
</p>
<p>
  Below is your information on how to redeem your winnings!
</p>
<p>
  <%= @promotional_text %>
</p>
<p>
  This email was sent you on behalf of <a href="https://trivial.fun">trivial.fun</a>
</p>
