/*
 *
 *= require_self
 */

@import "bootstrap";

html.play, body, section {
  width:100%;
  height:100%;
}

html.play body {
  overflow: hidden;
}

html.play {
  article {
    display: flex;
    height: 100%;

    p{
      display: block;
      margin: auto;
      font-size: 48px;
    }
  }
  section.categories article {
    flex-flow: row wrap;

    p {
      width:100%;
      text-align: center;
    }
  }
  section.question {
    height: calc(100% - 16px);
  }
}

.progress-bar {
    margin-bottom: 0rem;
    background-color: lightgray;
    border-radius: 0;
    width: 100%;
    height: 16px;
    display: inline-block;
    text-align: left;
}
.progress-value {
    background-color: #FFF;
    transition: 0.3s all linear;
    border-radius: 0;
    height: 16px;
    display: inline-block;
    animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}
.progress-value.red {
    background-color: red;
    animation: progress-3 120s ease-in-out forwards;
    -webkit-animation: progress-3 120s ease-in-out forwards;
}

/* animation */
 @keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
 @-webkit-keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
